body {
  margin: 0;
  min-height: 100vh;
  background-color: #2f2e41;
}

.container {
  margin: auto;
}

nav .container {
  padding: 0;
  padding-top: 71px;
  height: 30px;
  width: 1083px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  width: 168px;
}

nav ul {
  list-style: none;

  display: flex;
  flex-direction: row;
  gap: 64px;
}

nav ul li a {
  color: #fff;
}

a {
  text-decoration: none;
}
