/* General */
body {
  margin: 0;
  min-height: 100vh;
  background-color: #2f2e41;
}

.container {
  margin: auto;
}

a {
  text-decoration: none;
}

/* Navegation */
nav .container {
  padding: 0;
  padding-top: 71px;
  height: 30px;
  width: 1083px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  width: 168px;
}

nav ul {
  list-style: none;

  display: flex;
  flex-direction: row;
  gap: 64px;
}

nav ul li a {
  color: #fff;
}

/* Main */
main .container {
  padding: 100px 0 150px;
  width: 1092px;
  height: 283px;

  display: flex;
  justify-content: space-between;
  gap: 82px;
}

main section h1 {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  mix-blend-mode: normal;
}

main section h1 span,
main section p span {
  color: #00bfa6;
}

main section p span,
main section p strong {
  font-weight: 700;
}

main section p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #c2c2c2;
  mix-blend-mode: normal;
}

/* Footer */
footer .container {
  padding: 27px;
  width: 568px;

  border-top: 1px solid #00bfa6;

  text-align: center;
}

footer p,
footer a {
  color: #fff;
}

/* Icon padlock */
#lock {
  position: fixed;
  left: 0;
  bottom: 0;
}
